openapi: 3.1.0
info:
  title: Workato Agent Studio Data Tables Skills API
  description: The Workato Agent Studio API provides programmatic access to manage AI agents (genies), skills, and knowledge bases within the Workato Agentic Automation platform. Use this API to create and configure AI agents, assign skills and knowledge bases, and control agent lifecycle. Rate limits are 1,000 requests per minute for list/get operations and 60 requests per minute for all other operations.
  version: '1.0'
  contact:
    name: Workato Support
    url: https://support.workato.com/
  termsOfService: https://www.workato.com/legal
servers:
- url: https://www.workato.com
  description: US Production
- url: https://app.eu.workato.com
  description: EU Production
- url: https://app.jp.workato.com
  description: JP Production
- url: https://app.sg.workato.com
  description: SG Production
- url: https://app.au.workato.com
  description: AU Production
security:
- bearerAuth: []
tags:
- name: Skills
  description: Skills are recipe-backed capabilities that can be assigned to AI agents to give them actionable tools.
paths:
  /api/agentic/skills:
    get:
      operationId: listSkills
      summary: Workato List Skills
      description: Returns a paginated list of skills in the workspace. Skills are recipe-backed capabilities that can be assigned to AI agents.
      tags:
      - Skills
      parameters:
      - $ref: '#/components/parameters/FolderId'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/Query'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/SortTerm'
      responses:
        '200':
          description: A list of skills.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Skill'
                  next_page:
                    type: boolean
                    description: Whether there are more pages available.
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createSkill
      summary: Workato Create a Skill
      description: Creates a new skill from an existing recipe. The recipe must exist in the workspace before it can be converted to a skill.
      tags:
      - Skills
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - recipe_id
              properties:
                recipe_id:
                  type: integer
                  description: The ID of the recipe to convert into a skill.
      responses:
        '200':
          description: The created skill with metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Skill'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/agentic/skills/{id}:
    get:
      operationId: getSkill
      summary: Workato Get a Skill
      description: Returns the details of a specific skill by its ID.
      tags:
      - Skills
      parameters:
      - $ref: '#/components/parameters/SkillId'
      responses:
        '200':
          description: The skill details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Skill'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    SortTerm:
      name: sort_term
      in: query
      description: Field to sort results by.
      schema:
        type: string
    Page:
      name: page
      in: query
      description: Page number for pagination (1-based).
      schema:
        type: integer
        minimum: 1
        default: 1
    PerPage:
      name: per_page
      in: query
      description: Number of results per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 100
    Query:
      name: query
      in: query
      description: Search query to filter results by name.
      schema:
        type: string
    SkillId:
      name: id
      in: path
      required: true
      description: Unique identifier of the skill.
      schema:
        type: integer
    FolderId:
      name: folder_id
      in: query
      description: Filter results by folder ID.
      schema:
        type: integer
    ProjectId:
      name: project_id
      in: query
      description: Filter results by project ID.
      schema:
        type: integer
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication token is missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: The request body is invalid or missing required fields.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    Skill:
      type: object
      description: A recipe-backed capability that can be assigned to an AI agent as a tool.
      properties:
        id:
          type: integer
          description: Unique identifier of the skill.
        name:
          type: string
          description: Display name of the skill.
        description:
          type: string
          description: Description of what this skill enables the agent to do.
        recipe_id:
          type: integer
          description: ID of the underlying recipe that powers this skill.
        folder_id:
          type: integer
          description: ID of the folder containing this skill.
        created_at:
          type: string
          format: date-time
          description: Timestamp when the skill was created.
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the skill was last updated.
    ErrorResponse:
      type: object
      description: Standard error response.
      properties:
        message:
          type: string
          description: Human-readable error message.
        code:
          type: string
          description: Machine-readable error code.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'API client token obtained from the Workato platform. Include as Authorization: Bearer {token}.'
externalDocs:
  description: Workato Agent Studio API Documentation
  url: https://docs.workato.com/workato-api/agent-studio.html
